@font-face {
  src: url('../../fonts/Gravity-Regular.otf');
  font-family: Gravity
}

body{
  font: 15px/1.5 Gravity, Arial;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: url('../../img/board.png');
  background-size:cover;
  background-position: center;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #fff;
  z-index: 100;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

nav ul li a:hover{
  background-color: #white;
  border: none;
  color: #000;
  text-align: center;
  opacity: 0.6;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.front h1{
  position: fixed;
}

.head{
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.head h1{
  font-size: 40px;
  font-family: Gravity;
  letter-spacing: 20px;
  text-align: center;
  color: #f5f6fa;
}

.head h3{
  font-family: Gravity;
  letter-spacing: 3px;
  text-align: center;
  color: #f5f6fa;
}


/*----------------------- WHY SECTION ---------------------*/

#idea{
  padding: 25px;
  background-color: #b33939;
}

#idea h1{
  font-size: 30px;
  font-weight: 400px;
  letter-spacing: 5px;
  text-align: left;
  color: #f5f6fa;
}

#idea p{
  color: #f5f6fa;
  font-size: 20px;
  letter-spacing: 2.5px;
  padding-bottom: 25px;
}

/*----------------------- TOPICS SECTION ---------------------*/

#topics{
  padding: 25px;
  background-color: #f5f6fa;
}

#topics h1{
  font-size: 30px;
  font-weight: 400px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #282828;
}

#intro-p {
  text-align: center;
  color: #282828;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.top-row{
  display: flex;
}

.top-row > div {
    padding: 20px;
    text-align: center;
    flex: 1 1 33%;
}

.top-row h3{
  letter-spacing: 0.25px;
  text-align: left;
  text-transform: uppercase;
}

.top-row p{
  text-align: justify;
  color: #282828;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.bottom-row{
  display: flex;
}

.bottom-row > div {
    padding: 20px;
    text-align: center;
    flex: 1 1 33%;
}

.bottom-row h3{
  letter-spacing: 0.25px;
  text-align: left;
  text-transform: uppercase;
}

.bottom-row p{
  text-align: justify;
  color: #282828;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/*----------------------- GALLERY SECTION ---------------------*/

#gallery{
  padding: 25px;
  background-color: #b33939;
}

#gallery h1{
  font-size: 30px;
  font-weight: 400px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #f5f6fa;
}

#gallery p{
  color: #f5f6fa;
  font-size: 20px;
  letter-spacing: 2.5px;
  padding-bottom: 25px;
  text-align: center;
}

/*----------------------- FOOTER SECTION ---------------------*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

#linked:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#git:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#insta:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#hovHome:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#hovPort:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#hovCont:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}



/*----------------------- MEDIA SECTION ---------------------*/

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
            color: #fff;
      }

      nav ul {
            max-height: 0px;
            background: #fff;
      }

      nav.black ul {
            background: #fff;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            display: list-item;
            width: 100%;
            padding: 24px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
      }

      .menu-icon {
            display: block;
      }
      header{
        width: 100%;
        height: 100vh;
        background-position: center;
      }

      .head{
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        padding: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .head h1{
        font-size: 20px;
        font-family: Gravity;
        letter-spacing: 10px;
        text-align: center;
        color: #f5f6fa;
      }

      .head h3{
        font-family: Gravity;
        letter-spacing: 3px;
        text-align: center;
        color: #f5f6fa;
      }

      .top-row{
        display: block;
      }

      .bottom-row{
        display: block;
      }

      #vid{
        width: 315px;
        height: 315px;
      }

      #gallery p{
        color: #f5f6fa;
        font-size: 20px;
        letter-spacing: 2.5px;
        padding-bottom: 25px;
        text-align: justify;
      }



}
